.form-container > div + div {
    /* margin-top: 15px; */
}

.form-container {
    border-radius: 6px 6px 10px 10px;
}

.reg-form__preloader {
    position: absolute;
    z-index: 100;
    max-width: 458px;
    max-height: 314px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
    height: 100%;
    width: 100%;
}

.reg-form__preloader-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 50px !important;
    z-index: 99999999;
}

.reg-form__preloader.hidden {
    display: none;
}

.iti__flag-box,
.iti__country-name {
    color: #333;
}

.form_group--name,
.form_group--email,
.form-group {
    position: relative;
}

form.form-container input {
    display: block;
    width: 100%;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 43px;

    box-sizing: border-box;
}

form.form-container input::placeholder {
    font-size: 15px;
}

form.form-container input:focus {
    outline: none;
    padding: 12px 16px;
}

form.form-container button[type="submit"]:not(:disabled):hover {
    background-color: #f00;
    color: #fff !important;
    text-align: center;
}

form.form-container button[type="submit"]:disabled {
    cursor: not-allowed;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    color: #fff;
    opacity: 0.6;
}

.valid {
    background-color: rgba(25, 230, 25, 0.45) !important;
}

.invalid {
    background-color: rgba(230, 25, 25, 0.45) !important;
}

.invalid:focus {
    border: 1px solid rgba(230, 25, 25, 0.45) !important;
}

.iti {
    width: 100%;
}

.iti--separate-dial-code .iti__selected-flag {
    background: none;
}

.form-text {
    text-align: left;
    margin: 5px 0;
    margin-left: 0px;
    color: white;
    margin-left: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}

.ggggg {
    border-radius: 6px 6px 0px 0px;
    background: #60359b;
    width: 100%;
}
.ggggg h2 {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form__group {
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover {
    cursor: pointer;
}

.ljmij {
    border-bottom: 2px solid #f00;
    max-width: 149px;
}

.osfk {
    margin-top: 0;
    border-top: 1px solid #c7c7c7;
}

.comment-container {
    margin: auto;
    font-family: Arial, sans-serif;
    width: 100%;
}

.comment,
.reply {
    /* background: #fff; */
    /* border: 1px solid #ddd; */
    /*! padding: 15px; */
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

.reply {
    /* background: #f9f9f9; */
    margin-top: -5px;
    margin-bottom: 0;
    margin-left: 30px;
    /* border-left: 3px solid #ccc; */
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-weight: bold;
}

.timestamp {
    color: #999;
    font-size: 0.85em;
}

.content {
    margin-top: 5px;
}

.interaction {
    color: #999;
    font-size: 0.85em;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.form__input {
    margin-top: 10px !important;
}

.xsfsddd {
    margin-bottom: 10px !important;
}
